BPMN1/AddMerchandiseCartProcess/AddMerchandiseCart/businessCatalog/AddMerchandiseCartType/DiscountObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="AddMerchandiseCartType.DiscountObject" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/AddMerchandiseCartType/DiscountObject" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/AddMerchandiseCartType/DiscountObject"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="DiscountObjectType">
        <xs:sequence>
            <xs:element name="quantity" nillable="true" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DiscountObject" type="DiscountObjectType"/>
</xs:schema>
