Service2/ShoppingCartService/ShoppingCart/xsd/UpdateStockDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateStockDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateStockDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="UpdateStockDBInput" type="UpdateStockDBInput"/>
   <xs:complexType name="UpdateStockDBInput">
      <xs:sequence>
         <xs:element name="quantity" type="xs:decimal" nillable="true"/>
         <xs:element name="itemid" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>