BPMN2/OrderPlacing_OBE/OrderPlacingProject/xsd/RuleInputObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="OrderPlacingTypes.RuleInputObject" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/OrderPlacingTypes/RuleInputObject" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/OrderPlacingTypes/RuleInputObject"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="RuleInputObjectType">
        <xs:sequence>
            <xs:element name="cartTotalCost" nillable="true" type="xs:decimal"/>
            <xs:element name="shippingRate" nillable="true" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RuleInputObject" type="RuleInputObjectType"/>
</xs:schema>
