BPMN1/AddMerchandiseProcess/AddMerchandise/xsd/InitialInfoObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="AddMerchandiseType.InitialInfoObject" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/AddMerchandiseType/InitialInfoObject" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/AddMerchandiseType/InitialInfoObject"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="InitialInfoObjectType">
        <xs:sequence>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="address" nillable="true" type="xs:string"/>
            <xs:element name="phone_number" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InitialInfoObject" type="InitialInfoObjectType"/>
</xs:schema>
