BPMN1/AddMerchandiseCartProcess/AddMerchandiseCart/xsd/DeleteFromCartDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DeleteFromCartDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/DeleteFromCartDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="DeleteFromCartDBInput" type="DeleteFromCartDBInput"/>
   <xs:complexType name="DeleteFromCartDBInput">
      <xs:sequence>
         <xs:element name="userid" type="xs:decimal" nillable="true"/>
         <xs:element name="itemid" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>