RemoveItemCartProcess/RemoveItemCartProcess/businessCatalog/RemoveItemCartType/RemoveItemType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="RemoveItemCartType.RemoveItemType" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/RemoveItemCartType/RemoveItemType" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/RemoveItemCartType/RemoveItemType"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="RemoveItemTypeType">
        <xs:sequence>
            <xs:element name="userid" nillable="true" type="xs:int"/>
            <xs:element name="password" nillable="true" type="xs:string"/>
            <xs:element name="itemid" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RemoveItemType" type="RemoveItemTypeType"/>
</xs:schema>
