Service1/GetClientIDService/GetClientID/GetClientIDSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.example.org"
            targetNamespace="http://www.example.org"
            elementFormDefault="qualified">
  <xsd:complexType name="RequestGetIDType">
    <xsd:sequence>
      <xsd:element name="Email" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseGetIDType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RequestGetID" type="tns:RequestGetIDType"/>
  <xsd:element name="ResponseGetID" type="tns:ResponseGetIDType"/>
</xsd:schema>
